* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
a {
  color: black;
  cursor: pointer;
}
html, body {
  min-height: 100vh;
}

.menu {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 18px;
}

@media screen and (max-width: 1400px) {
  .menu {
    max-width: 1000px;
  }
}

@media screen and (max-width: 1200px) {
  .menu {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.pbButton {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 3px;
}

.pbActive {
  cursor: pointer;
  padding: 0 5px;
  border-radius: 3px;
  background: #ebebeb;
}